# Python garbage
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# AWS Secrets (На всякий случай, чтобы случайно не улетели ключи)
.aws/
credentials
*.csv
.env

# MacOS garbage
.DS_Store
